{% extends "layout.html" %}



{% block content %}

<!-- Page Content -->
<div class="container" style="margin-bottom: 15px;">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Gala rezultāts</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-6">
            <img class="img-fluid img-thumbnail" src="{{ url_for('static', filename='biology/bio1.jpg') }}" alt="">
      
    </div>
    <div class="col-lg-3 col-md-4 col-6">
            <img class="img-fluid img-thumbnail" src="{{ url_for('static', filename='biology/bio2.png') }}" alt="">
      
    </div>
    <div class="col-lg-3 col-md-4 col-6">
            <img class="img-fluid img-thumbnail" src="{{ url_for('static', filename='biology/bio3.png') }}" alt="">
      
    </div>
    <div class="col-lg-3 col-md-4 col-6">
            <img class="img-fluid img-thumbnail" src="{{ url_for('static', filename='biology/bio4.png') }}" alt="">
      
    </div>
    <div class="col-lg-3 col-md-4 col-6">
            <img class="img-fluid img-thumbnail" src="{{ url_for('static', filename='biology/bio4.png') }}" alt="">
      
    </div>
    <div class="col-lg-3 col-md-4 col-6">
            <img class="img-fluid img-thumbnail" src="{{ url_for('static', filename='biology/bio5.png') }}" alt="">
      
    </div>
    <div class="col-lg-3 col-md-4 col-6">
            <img class="img-fluid img-thumbnail" src="{{ url_for('static', filename='biology/bio6.png') }}" alt="">
      
    </div>
    <div class="col-lg-3 col-md-4 col-6">
            <img class="img-fluid img-thumbnail" src="{{ url_for('static', filename='biology/bio7.png') }}" alt="">
      
    </div>
    <div class="col-lg-3 col-md-4 col-6">
            <img class="img-fluid img-thumbnail" src="{{ url_for('static', filename='biology/bio8.png') }}" alt="">
      
    </div>
    <div class="col-lg-3 col-md-4 col-6">
            <img class="img-fluid img-thumbnail" src="{{ url_for('static', filename='biology/bio9.png') }}" alt="">
      
    </div>
    <div class="col-lg-3 col-md-4 col-6">
            <img class="img-fluid img-thumbnail" src="{{ url_for('static', filename='biology/bio10.png') }}" alt="">
      
    </div>
    <div class="col-lg-3 col-md-4 col-6">
            <img class="img-fluid img-thumbnail" src="{{ url_for('static', filename='biology/bio11.png') }}" alt="">
      
    </div>
  </div>

</div>
<!-- /.container -->
{% endblock %}