<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="particles-js">
            <div class="logis" style="height: 100px; width: 100px;">
            <img src="{{ url_for('static', filename='images/ikona.png') }}" width="100" height="100"style="opacity: 0.5;" alt="">
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/particles.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html>