<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="particles-js">
            <div class="logis" style="height: 150px; width: 150px;">
                <a style="width: 150px;height: 150px;" href="/">
                    <img src="{{ url_for('static', filename='images/ikona.png') }}" width="150" height="150" style="opacity:0.95;"  alt="">
                </a>
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/particles.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html>