body {
    background-color: red;   
    background-image: url(fallback-gradient.svg); 
    
    background-image: linear-gradient(to right, red, #f06d06);
    margin: 0px;
    overflow: hidden;
    height: 100vh;
  }
      